<div class="framer">
  <cmdk-command (valueChanged)="setValue($event)" [value]="value" [loop]="true">
    <div class="cmdk-framer-header">
      <app-search></app-search>
      <input
        cmdkInput
        autofocus
        placeholder="Find components, packages, and interactions..."
        />
      </div>
      <cmdk-list>
        <div class="cmdk-framer-items">

          <div class="cmdk-framer-left">
            <cmdk-group label="Components">
              @for (component of components; track component) {
                <button
                  cmdkItem
                  [value]="component.value"
                  >
                  <div class="cmdk-framer-icon-wrapper">
                    <ng-container *dynamicView="component.icon"></ng-container>
                  </div>
                  <div class="cmdk-framer-item-meta">
                    {{ component.value }}
                    <span class="cmdk-framer-item-subtitle">{{
                      component.subTitle
                    }}</span>
                  </div>
                </button>
              }
            </cmdk-group>
          </div>
          <hr class="cmdk-framer-separator" />
          <div class="cmdk-framer-right">
            @switch (value) {
              @case ('Button') {
                <div>
                  <button>Button</button>
                </div>
              }
              @case ('Input') {
                <div>
                  <input type="text" placeholder="Start typing...">
                </div>
              }
              @case ('Radio') {
                <div>
                  <div>
                    <input type="radio" id="huey" name="drone" value="huey"
                      checked>
                      <label for="huey">Huey</label>
                    </div>
                  </div>
                }
                @case ('Badge') {
                  <div>
                    <div class="cmdk-framer-badge">Badge</div>
                  </div>
                }
                @case ('Slider') {
                  <div>
                    <div class="cmdk-framer-slider"><div></div></div>
                  </div>
                }
                @case ('Avatar') {
                  <div>
                    <img class="cmdk-framer-avatar" src="https://avatars.githubusercontent.com/u/6831283?s=40&v=4" alt="Avatar of Dharmen">
                  </div>
                }
                @case ('Container') {
                  <div>
                    <div class="cmdk-framer-container"></div>
                  </div>
                }
              }
            </div>
          </div>

        </cmdk-list>
      </cmdk-command>
    </div>
