<div class="vercel">
  <cmdk-command (keydown)="onKeyDown($event)" [ngStyle]="{'transform': styleTransform}" [loop]="true">
    <div>
      @for (p of pages; track p) {
        <div class="cmdk-vercel-badge">
          {{ p }}
        </div>
      }
    </div>
    <input
      cmdkInput
      autofocus
      placeholder="What do you need?"
      (change)="setInputValue($event)"
      />
      <cmdk-list>
        <div *cmdkEmpty>No results found.</div>
        @if (activePage === 'home') {
          @for (group of groups; track group) {
            <cmdk-group [label]="group.group">
              @for (item of group.items; track item) {
                @if (item.separatorOnTop) {
                  <cmdk-separator></cmdk-separator>
                }
                <button
                  cmdkItem
                  [value]="item.label"
                  (selected)="item.itemSelected && item.itemSelected()"
                  >
                  <ng-container *dynamicView="item.icon"></ng-container>
                  {{ item.label }}
                  @if (item.shortcut) {
                    <div class="cmdk-vercel-shortcuts">
                      @for (key of item.shortcut.split(' '); track key) {
                        <kbd>{{ key }}</kbd>
                      }
                    </div>
                  }
                </button>
              }
            </cmdk-group>
          }
        }
        @if (activePage === 'projects') {
          @for (item of projectItems; track item; let i = $index) {
            <button
              cmdkItem
              [value]="'Project' + (i + 1)"
              >
              Project {{ i + 1 }}
            </button>
          }
        }
      </cmdk-list>
    </cmdk-command>
  </div>
