<footer class="footer">
  <div class="footerText">
    Crafted by
    <a href="https://ngneat.com/" target="_blank" rel="noopener noreferrer">
      <img src="https://ngneat.com/logo.png" alt="Avatar of ngneat" />
      ngneat
    </a> and <a href="https://shhdharmen.me/" target="_blank" rel="noopener noreferrer">
      <img src="https://avatars.githubusercontent.com/u/6831283?s=40&v=4" alt="Avatar of Dharmen" />
      Dharmen
    </a>
  </div>
  <div class="footerText">
    <small>
    Directly inspired from
            <a href="https://github.com/pacocoursey/cmdk">pacocoursey/cmdk</a
            ></small>
  </div>
</footer>
