<div class="raycast-submenu">
    <cmdk-command>
      <div class="cmdk-raycast-list">
        <cmdk-group [label]="value">
          <button cmdkItem *ngFor="let item of items" [value]="item.label">
            <ng-container *dynamicView="item.icon"></ng-container>
            {{ item.label }}
            <app-raycast-sub-item [shortcut]="item.shortcuts" />
          </button>
        </cmdk-group>
      </div>
        <input cdkFocusInitial cmdkInput #input placeholder="Search for actions..." />
      </cmdk-command>
</div>