<div class="linear">
  <cmdk-command [loop]="true">
    <div class="cmdk-linear-badge">Issue - FUN-343</div>
    <input cmdkInput autofocus placeholder="Type a command or search..." />
    <cmdk-list>
      <div *cmdkEmpty>No results found.</div>
      @for (item of items; track item) {
        <button cmdkItem [value]="item.label">
          <ng-container *dynamicView="item.icon"></ng-container>
          {{ item.label }}
          <div class="cmdk-linear-shortcuts">
            @for (key of item.shortcut; track key) {
              <kbd>{{ key }}</kbd>
            }
          </div>
        </button>
      }
    </cmdk-list>
  </cmdk-command>
</div>
