<div class="meta">
  <div class="info-wrapper">
    <span class="versionBadge">v{{ version }}</span>
    <div class="info">
      <img
        class="cmdk-logo"
        src="assets/ngxpert cdk.svg"
        alt="ngxpert cmdk logo"
        />
        <div>
          <p>Fast, composable, unstyled command menu for Angular.</p>
          <p><small
            >Directly inspired from
            <a href="https://github.com/pacocoursey/cmdk">pacocoursey/cmdk</a
              >.</small
            ></p>
          </div>
        </div>
      </div>

      <div class="buttons">
        <button class="installButton" (click)="copyInstall()">
          npm i &#64;ngxpert/cmdk
          <span>
            @if (copied) {
              <app-copied></app-copied>
            } @else {
              <app-copy></app-copy>
            }
          </span>
        </button>
        <a
          href="https://github.com/ngxpert/cmdk"
          target="_blank"
          rel="noopener noreferrer"
          class="githubButton"
          >
          <app-github></app-github>
          ngxpert/cmdk
        </a>
      </div>
    </div>
