<section>
  <div class="example-container">
    <cmdk-command label="Command Menu" (valueChanged)="valueChanged($event)" [value]="'faqs'">
      <input cmdkInput />
      <div *cmdkEmpty>No results found.</div>
      <cmdk-group [label]="group.groupName" *ngFor="let group of menu">
        <ng-container *ngFor="let item of group.options">
          <cmdk-separator *ngIf="item.isSeparator"></cmdk-separator>
          <button cmdkItem [disabled]="!!item.disabled" *ngIf="!item.isSeparator && item.value" [value]="item.value">{{ item.label }}</button>
        </ng-container>
      </cmdk-group>
    </cmdk-command>
  </div>
</section>