<div class="switcher">
  @for (theme of allThemes; track theme) {
    <button
      [attr.data-selected]="theme.value === currentTheme"
      (click)="setCurrentTheme(theme.value)"
      >
      <ng-container *dynamicView="theme.icon"></ng-container>
      {{ theme.label }}
      @if (theme.value === currentTheme) {
        <div class="activeTheme"></div>
      }
    </button>
  }
</div>
<div class="cmdk-wrapper">
  <div>
    @switch (currentTheme) {
      @case ('framer') {
        <div>
          <app-framer></app-framer>
        </div>
      }
      @case ('linear') {
        <div>
          <app-linear></app-linear>
        </div>
      }
      @case ('raycast') {
        <div>
          <app-raycast></app-raycast>
        </div>
      }
      @case ('vercel') {
        <div>
          <app-vercel></app-vercel>
        </div>
      }
    }
  </div>
</div>